:root {
  --primary: #2962FF;
  --primary-dark: #0039CB;
  --accent: #FF6D00;
  --accent-dark: #C43E00;
  --carbon: #212121;
  --carbon-light: #484848;
  --surface: #FFFFFF;
  --background: #F5F5F5;
}
